<h1>Task</h1>
<a [routerLink] = "['/employee','createTask']" class="btn btn-primary">Create Task</a>
<div class="row mt-1 mb-2">
    <div class="col-lg-6 mb-1" *ngFor="let taskGroup of taskGroups">
        <div class="card-headerr">
            <div class="card-title">
                <h4>
                    {{taskGroup.taskStatusName}}
                    <span class="badge badge-warning float-right">{{taskGroup.tasks.length}}</span>
                </h4>
            </div>
        </div>
        <div class="card-body">
            <div class="card-mb-1" *ngFor="let task of taskGroup.tasks; let i = index">
                <div class="card-header">
                   <!-- #{{i+1}} &nbsp; &nbsp; {{task.taskName}}
                    <div class="badge float-right mr-1 badge-primary" style="font-size: 15px;">
                    {{task.taskPriority?.taskPriorityName}}</div>
                </div>
                <div class="card-body">
                    <div>{{task.description}}</div>
                    <div>
                        <table class="table table-sm table-borderless">
                            <tr>
                                <td>Created: </td>
                                <td>
                                    <i class="fa fa-user"></i>
                                    {{task.createdByUser?.userName}}
                                    &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-calender"></i>
                                    {{task.createdOnString}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            -->
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="card-footer">

        </div>

    </div>
</div>