<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="d-flex flex-column">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  p-3">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 "
                style="text-align-last:left;float:left;">
                <h1>
                    <span style="margin-left:-25px;">Projects </span>

                    <i class="fa fa-circle-o-notch fa-spin" style="font-size:34px;color:black" *ngIf="showLoading"></i>

                </h1>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="text-align-last:right;float:right">
                <button class="btn btn-danger" data-toggle="modal" data-target="#addModal" (click)="onNewClick($event)">Create Project</button>&nbsp;
                <button class="btn btn-secondary"(click)="onHideShowDetails($event)">Hide/Show Details</button>
                

            </div>
            <div class="col-1 custom-contol custom-checkbox">
                <input type="checkbox"  value = "true" name="isAllChecked" 
                id="isAllChecked" [(ngModel)]="isAllChecked" class="custom-control-input" (change)="isAllCheckedChange($event)">
                <label class="custom-control-label" for="isAllChecked">Select All</label>
            </div>


            
        </div>

        <form class="form-inline ">

            <div class="form-group row col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <!--col-sm-8 col-lg-8 col-md-8 col-xs-8"> -->
                <label for="searchBy" class="col-form-label col-sm-4 col-lg-4 col-md-4 col-xs-4 "
                    style="margin-left: -6%;">Search By:</label>
                <div class="col-sm-8 col-lg-8 col-md-8 col-xs-8">
                    <select class="form-control" style="width: 120%;" id="searchBy" name="searchBy"
                        [(ngModel)]="searchBy">

                        <option value="projectID">Project ID</option>
                        <option options value="projectName">Project Name</option>
                        <option options value="dateOfStart">Date of Start</option>
                        <option options value="teamSize">Team Size</option>
                    </select>
                </div>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <div class="form-group row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <!-- col-sm-8 col-lg-8 col-md-8 col-xs-8"-->
                <label for="searchText" class="col-form-label col-sm-4 col-lg-4 col-md-4 col-xs-4 text-right " style="margin-left: -6%; margin-right: -11%;">Search
                    Text:</label>
                <div class="input-group col-sm-7 col-lg-7 col-md-7 col-xs-7">
                    <input type="text" style="width: 50%;" placeholder="Type here" class="form-control" 
                    id="searchText" name="searchText" [(ngModel)]="searchText" (keyup)="onSearchTextKeyUp($event)">

                    <!--<div class="input-group-append" style="width: -1%;">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div> --> 
                </div>

            </div>

            <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align-last:right;float:right;margin-left: -7%;">
                <button class="btn btn-success" style="width: 160%;text-align: center;text-align-last: center;" (click)="onSearchClick()">Search</button>
            </div> -->

        </form>
        <div class="contanier mt-3">
            <div class="row">
                <div class="col-md-4 mb-1 projectcard"  *ngFor="let project of projects  | filter: searchBy : searchText | paging : currentPageIndex : pageSize
                 let i = index" [ngClass]="{'text-muted' : !project.active}" >
                <app-project #toggleDetail [currentProject]="project" [recordIndex]="i" (editClick)="onEditClick($event,project.projectID-1)"
                (deleteClick)="onDeleteClick($event,i)"> <!--Subscribing to parent component-->
                <app-check-box-printer #selectionBox></app-check-box-printer> <!--giving referne variable name-->
            </app-project>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="pagination justify-content-center mt-1">
                        <!-- for repeating pageItem once pe one element in the array-->
                        <li class="page-item" *ngFor="let page of pages"(click) = "onPageIndexClicked(page.pageIndex)"
                        ngClass="{'active':page.pageIndex == currentPageIndex}">
                            <!--to avoid refresh of page added onClick = false-->
                            <a href="#" onclick="return false" class="page-link">{{page.pageIndex + 1}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <form #newForm = "ngForm" novalidate="novalidate" appClientLocationServiceValidator>
        <div class="class container" p-5>
            <div class="modal fade" id="addModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
                aria-labelledby="addModalLabel" aria-hidden="true">
                <div class=" modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-danger text-white">
                            <h5 class="modal-title">Add New Project</h5>
                            <button type="button" data-dismiss="modal" class="close" aria-hidden="true">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <div class="form-group row">
                                 <label for="txtProjectId" class="col-sm-4 col-lg-4 col-md-4 col-xs-4 col-form-label">Project ID</label>
                                <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                <input type="text" class="form-control" name="ProjectID"
                                            [(ngModel)]="newProject.projectID" id="txtProjectId" required="required" pattern="^[0-9]*$" 
                                            #newProjectID = "ngModel" #prjID placeholder="ProjectID" appProjectIDUniqueValidator 
                                            [ngClass]="{'is-invalid': newProjectID.invalid && (newProjectID.dirty || newProjectID.touched || 
                                                newForm.submitted),'is-valid': newProjectID.valid && (newProjectID.dirty || newProjectID.touched || 
                                                newForm.submitted) }">

                                         <span class="text-danger" *ngIf="newProjectID.invalid && (newProjectID.dirty || newProjectID.touched || 
                                         newForm.submitted) && newProjectID.errors!['required']">Project Id can't be blank</span>
                                        
                                         <span class="text-danger" *ngIf="newProjectID.invalid && (newProjectID.dirty || newProjectID.touched || 
                                         newForm.submitted) && newProjectID.errors!['pattern']">Project Id should contain numbers only</span>

                                         <span class="text-danger" *ngIf="newProjectID.invalid && (newProjectID.dirty || newProjectID.touched || 
                                         newForm.submitted) && newProjectID.errors!['uniqueProjectID']">Project Id must be unique</span>
                                     
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtProjectNam" class="col-sm-4 col-lg-4 col-md-4 col-xs-4 col-form-label">Project Name</label>
                                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                        <input type="text" name="ProjectName" [(ngModel)]="newProject.projectName"
                                            class="form-control" id="txtProjectName" required="required" pattern="^[A-Za-z0-9 /-]*$"
                                             minlength="3" maxlength="30" #newProjectName = "ngModel"
                                            [ngClass]="{'is-invalid': newProjectName.invalid && (newProjectName.dirty || newProjectName.touched || 
                                                newForm.submitted),'is-valid': newProjectName.valid && (newProjectName.dirty || newProjectName.touched || 
                                                newForm.submitted) }">

                                         <span class="text-danger" *ngIf="newProjectName.invalid && (newProjectID.dirty || newProjectName.touched || 
                                         newForm.submitted) && newProjectName.errors!['required']">Project Name can't be blank</span>
                                        
                                         <span class="text-danger" *ngIf="newProjectName.invalid && (newProjectName.dirty || newProjectName.touched || 
                                         newForm.submitted) && newProjectName.errors!['pattern']">Project Name should contain numbers only</span>

                                         <span class="text-danger" *ngIf="newProjectName.invalid && (newProjectName.dirty || newProjectName.touched || 
                                         newForm.submitted) && newProjectName.errors!['minlength']">Project Name should have atleast 3 characters</span>

                                         <span class="text-danger" *ngIf="newProjectName.invalid && (newProjectName.dirty || newProjectName.touched || 
                                         newForm.submitted) && newProjectName.errors!['maxlength']">Maximum number of characters cannot be greater than 3</span>
                      
                      
                      
                                        <!--whenever user type anyvalue to the text box that should
                                             automatically be updated in project.projectId -->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtDateStart"
                                        class="col-sm-4 col-lg-4 col-md-4 cols-xs-4  col-form-label">Date of
                                        Start</label>
                                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                        <input type="date" [(ngModel)]="newProject.dateOfStart" name="DateOfStart"
                                            class="form-control" id="txtDateStart" required="required"  #newDateOfStart = "ngModel"
                                           [ngClass]="{'is-invalid': newDateOfStart.invalid && (newDateOfStart.dirty || newDateOfStart.touched || 
                                               newForm.submitted),'is-valid': newDateOfStart.valid && (newDateOfStart.dirty || newDateOfStart.touched || 
                                               newForm.submitted) }">

                                        <span class="text-danger" *ngIf="newDateOfStart.invalid && (newDateOfStart.dirty || newDateOfStart.touched || 
                                        newForm.submitted) && newDateOfStart.errors!['required']"> Start date can't be blank</span>
                                       
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtProjectSize"
                                        class="col-sm-4 col-lg-4 col-md-4 col-xs-4 col-form-label">Team Size</label>
                                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                        <input type="text" [(ngModel)]="newProject.teamSize" name="ProjectTeamSize"
                                            class="form-control" id="txtProjectSize" required="required" pattern="^[0-9]*$" maxlength="7" #newTeamSize = "ngModel"
                                            appTeamSizeValidator ="5" [ngClass]="{'is-invalid': newTeamSize.invalid && (newTeamSize.dirty || newTeamSize.touched 
                                            || newForm.submitted),'is-valid': newTeamSize.valid && (newTeamSize.dirty || newTeamSize.touched || newForm.submitted) }">
 
                                         <span class="text-danger" *ngIf="newTeamSize.invalid && (newProjectID.dirty || newTeamSize.touched || 
                                         newForm.submitted) && newTeamSize.errors!['pattern']"> Team size should be number</span>
                                        
                                         <span class="text-danger" *ngIf="newTeamSize.invalid && (newProjectID.dirty || newTeamSize.touched || 
                                         newForm.submitted) && newTeamSize.errors!['divisible']"> Team size can be any except 0</span>
                                        
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="col-sm-4 col-lg-4 col-md-4 col-xs-4 col-form-label"></label>
                                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                        <div class="form-check">
                                            <input type="checkbox" [(ngModel)]="newProject.active" value="true"
                                                name="active" class="form-check-input" id="chkNewActive">
                                            <label class="form-check-label" id="chkNewActive">Active</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="rbStatusInForce"
                                        class="col-sm-4 col-lg-4 col-md-4 col-xs-4">Status</label>
                                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">


                                        <div class="form-check form-check-inline">
                                            <input type="radio" [(ngModel)]="newProject.status" value="In force"
                                                name="Status" class="form-check-input" id="rbStatusInForce" required="required" #newStatusInForce="ngModel">
                                            <label class="form-check-label" id="rbStatusInForce">In Force</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input type="radio" [(ngModel)]="newProject.status" value="Support"
                                                name="Status" class="form-check-input" id="rbStatusSupport" required="required" #newStatusSupport="ngModel">
                                            <label class="form-check-label" id="rbStatusSupport">Support</label>
                                        </div>

                                        
                                        <span class="text-danger" *ngIf="newStatusInForce.invalid && (newStatusInForce.dirty || newStatusInForce.touched || 
                                        newForm.submitted) && newStatusInForce.errors!['required']"> Please select status</span>
                                       

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="drpNewLocations"class="col-sm-4 col-lg-4 col-md-4 col-xs-4 col-form-label">Client Location</label>
                                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                        <select id="drpNewLocation" class="form-control"
                                            [(ngModel)]="newProject.clientLocationID" name="clientLocation" class="form-control" required="required"  #newClientLocation = "ngModel"
                                            [ngClass]="{'is-invalid': newClientLocation.invalid && (newClientLocation.dirty || newClientLocation.touched || 
                                                newForm.submitted),'is-valid': newClientLocation.valid && (newClientLocation.dirty || newClientLocation.touched || 
                                                newForm.submitted) }">
                                            <option value="null">Please Select</option>
                                            <option *ngFor="let clientLocation of clientLocations" [value]="clientLocation.clientLocationID">
                                                {{clientLocation.clientLocationName}}
                                              </option>
                                        </select>
                                        <span class="text-danger" *ngIf="newClientLocation.invalid && (newClientLocation.dirty || newClientLocation.touched || 
                                         newForm.submitted) && newClientLocation.errors!['required']">Please select client location</span>
                                        
                                         <span class="text-danger" *ngIf="newForm.invalid && (newForm.dirty || newForm.touched || 
                                         newForm.submitted) && (newForm.errors? newForm.errors!['clientLocationStatus']: false)">Support Projects are not allowed in tokyo</span>
                                        

                                    </div>
                                </div>
                           
                        </div>
                        <div class=" modal-footer">
                            
                                <button class="btn btn-warning" data-dismiss="modal" id="newFormCancel">Cancel</button>
                                <button class="btn btn-success" (click)="onSaveClick()">Save</button>
                              </div>
                   
                    </div>
                </div>
            </div>
        </div>
</form>
        <!--Edit Project-->

        
        <form #editForm = "ngForm" novalidate="novalidate" appClientLocationServiceValidator>
        <div class="class container" p-5>
            <div class="modal fade" id="updateModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
                aria-labelledby="updateModalLabel" aria-hidden="true">
                <div class=" modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Update Project</h5>
                            <button type="button" data-dismiss="modal" class="close" aria-hidden="true">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <div class="form-group row">
                                    <label for="txtEditProjectId"
                                        class="col-sm-4 col-lg-4 col-md-4 col-xs-4 col-form-label">Project ID</label>
                                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                        <input type="text" class="form-control-plain-text" name="ProjectID"
                                            disabled="true" [(ngModel)]="editProject.projectID" id="txtEditProjectId"
                                            required="required" pattern="^[0-9]*$"  
                                            #editProjectID = "ngModel" appProjectIDUniqueValidator
                                            [ngClass]="{'is-invalid': editProjectID.invalid && (editProjectID.dirty || editProjectID.touched || 
                                                editForm.submitted),'is-valid': editProjectID.valid && (editProjectID.dirty || editProjectID.touched || 
                                                editForm.submitted) }">

                                         <span class="text-danger" *ngIf="editProjectID.invalid && (editProjectID.dirty || editProjectID.touched || 
                                         editForm.submitted) && editProjectID.errors!['required']">Project Id can't be blank</span>
                                        
                                         <span class="text-danger" *ngIf="editProjectID.invalid && (editProjectID.dirty || editProjectID.touched || 
                                         editForm.submitted) && editProjectID.errors!['pattern']">Project Id should contain numbers only</span>
                                  
                                         <span class="text-danger" *ngIf="editProjectID.invalid && (editProjectID.dirty || editProjectID.touched || 
                                         editForm.submitted) && editProjectID.errors!['uniqueProjectID']">Project Id should be unique.</span>
                                  

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtEditProjectName"
                                        class="col-sm-4 col-lg-4 col-md-4 col-xs-4 col-form-label">Project Name</label>
                                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                        <input type="text" name="ProjectName" [(ngModel)]="editProject.projectName"
                                            class="form-control" id="txtEditProjectName" #edPrjName

                                            required="required" pattern="^[A-Za-z0-9 /-]*$"
                                             minlength="5" maxlength="30" #editProjectName = "ngModel" 
                                            [ngClass]="{'is-invalid': editProjectName.invalid && (editProjectName.dirty || editProjectName.touched || 
                                                editForm.submitted),'is-valid': editProjectName.valid && (editProjectName.dirty || editProjectName.touched || 
                                                editForm.submitted) }">

                                         <span class="text-danger" *ngIf="editProjectName.invalid && (editProjectID.dirty || editProjectName.touched || 
                                         editForm.submitted) && editProjectName.errors!['required']">Project Name can't be blank</span>
                                        
                                         <span class="text-danger" *ngIf="editProjectName.invalid && (editProjectName.dirty || editProjectName.touched || 
                                         editForm.submitted) && editProjectName.errors!['pattern']">Project Name should contain numbers only</span>

                                         <span class="text-danger" *ngIf="editProjectName.invalid && (editProjectName.dirty || editProjectName.touched || 
                                         editForm.submitted) && editProjectName.errors!['minlength']">Project Name should have atleast 3 characters</span>

                                         <span class="text-danger" *ngIf="editProjectName.invalid && (editProjectName.dirty || editProjectName.touched || 
                                         editForm.submitted) && editProjectName.errors!['maxlength']">Maximum number of characters cannot be greater than 3</span>
                      

                                        <!--whenever user type anyvalue to the text box that should
                                             automatically be updated in project.projectId -->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtEditProjectDateStart"
                                        class="col-sm-4 col-lg-4 col-md-4 cols-xs-4  col-form-label">Date of
                                        Start</label>
                                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                        <input type="date" [(ngModel)]="editProject.dateOfStart" name="DateOfStart"
                                            class="form-control" id="txtEditProjectDateStart"
                                            required="required"  #editDateOfStart = "ngModel"
                                           [ngClass]="{'is-invalid': editDateOfStart.invalid && (editDateOfStart.dirty || editDateOfStart.touched || 
                                               editForm.submitted),'is-valid': editDateOfStart.valid && (editDateOfStart.dirty || editDateOfStart.touched || 
                                               editForm.submitted) }">

                                        <span class="text-danger" *ngIf="editDateOfStart.invalid && (editDateOfStart.dirty || editDateOfStart.touched || 
                                        editForm.submitted) && editDateOfStart.errors!['required']"> Start date can't be blank</span>
               
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtEditProjectSize"
                                        class="col-sm-4 col-lg-4 col-md-4 col-xs-4 col-form-label">Project Size</label>
                                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                        <input type="text" [(ngModel)]="editProject.teamSize" name="ProjectTeamSize"
                                            class="form-control" id="txtEditProjectSize"
                                            required="required" pattern="^[0-9]*$" maxlength="7" appTeamSizeValidator="5" #editTeamSize = "ngModel" 
                                            [ngClass]="{'is-invalid': editTeamSize.invalid && (editTeamSize.dirty || editTeamSize.touched || 
                                                editForm.submitted),'is-valid': editTeamSize.valid && (editTeamSize.dirty || editTeamSize.touched || 
                                                editForm.submitted) }">
 
                                         <span class="text-danger" *ngIf="editTeamSize.invalid && (editTeamSize.dirty || editTeamSize.touched || 
                                         editForm.submitted) && editTeamSize.errors!['pattern']"> Team size should be number</span>
                                        
                                         <span class="text-danger" *ngIf="editTeamSize.invalid && (editTeamSize.dirty || editTeamSize.touched || 
                                         editForm.submitted) && editTeamSize.errors!['divisible']"> Team size can be any except 0. </span> <!--Custom validator-->
                                        
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="col-sm-4 col-lg-4 col-md-4 col-xs-4 col-form-label"></label>
                                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                        <div class="form-check">
                                            <input type="checkbox" [(ngModel)]="editProject.active" value="true"
                                                class="form-check-input" id="chkEditActive" name="active">
                                            <label class="form-check-label" id="chkEditActive">Active</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="rbEditStatusInForce"
                                        class="col-sm-4 col-lg-4 col-md-4 col-xs-4">Status</label>
                                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">


                                        <div class="form-check form-check-inline">
                                            <input type="radio" [(ngModel)]="editProject.status" value="In force"
                                                name="Status" class="form-check-input" id="rbEditStatusInForce" required="required" #editStatusInForce="ngModel" >
                                            <label class="form-check-label" id="rbEditStatusInForce">In Force</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input type="radio" [(ngModel)]="editProject.status" value="Support"
                                                name="Status" class="form-check-input" id="rbEditStatusSupport" required="required" #editStatusSupport="ngModel">
                                            <label class="form-check-label" id="rbEditStatusSupport">Support</label>
                                        </div>

                                        <span class="text-danger" *ngIf="editStatusInForce.invalid && (editStatusInForce.dirty || editStatusInForce.touched || 
                                        editForm.submitted) && editStatusInForce.errors!['pattern']"> Please selct status</span>
                                       

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="drpEditLocations"
                                        class="col-sm-4 col-lg-4 col-md-4 col-xs-4 col-form-label">Client
                                        Location</label>
                                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                        <select id="drpEditLocation" class="form-control"
                                            [(ngModel)]="editProject.clientLocationID" name="clientLocation"
                                            class="form-control" required="required"  #editClientLocation = "ngModel"
                                            [ngClass]="{'is-invalid': editClientLocation.invalid && (editClientLocation.dirty || editClientLocation.touched || 
                                                editForm.submitted),'is-valid': editClientLocation.valid && (editClientLocation.dirty || editClientLocation.touched || 
                                                editForm.submitted) }">
                                            <option value="null">Please Select</option>
                                
                                            <option *ngFor="let clientLocation of clientLocations" [value]="clientLocation.clientLocationID">
                                                {{clientLocation.clientLocationName}}
                                              </option>
                                        </select>

                                        <span class="text-danger" *ngIf="editClientLocation.invalid && (editClientLocation.dirty || editClientLocation.touched || 
                                        editForm.submitted) && editClientLocation.errors!['required']">Please select client location</span>
                                       
                                        <span class="text-danger" *ngIf="editForm.invalid && (editForm.dirty || editForm.touched || 
                                         editForm.submitted) && editForm.errors!['clientLocationStatus']">Support Projects are not allowed in tokyo</span>
                                        
                                    </div>
                                </div>

                        </div>
                        <div class="class modal-footer">
                            <button type="button" class="btn btn-danger" 
                                (click)="clearFields()">Clear</button>

                                <button type="button" class="btn btn-warning" data-dismiss="modal"  id ="editFormCancel"
                                >Cancel</button>

                            <button type="submit" class="btn btn-success" 
                                (click)="updateProject()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>

        <!--Delete Project-->

        <div class="class container" p-5>
            <div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
                aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class=" modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete Project</h5>
                            <button type="button" data-dismiss="modal" class="close" aria-hidden="true">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-warning">Are you sure to delete this project?</div>
                            <form>
                                <div class="form-group row">
                                    <label for="txtDeleteProjectId"
                                        class="col-sm-4 col-lg-4 col-md-4 col-xs-4 col-form-label">Project ID</label>
                                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                        <input type="text" class="form-control-plain-text" name="ProjectID"
                                            disabled="true" [(ngModel)]="deleteProject.projectID"
                                            id="txtDeleteProjectId">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtDeleteProjectName"
                                        class="col-sm-4 col-lg-4 col-md-4 col-xs-4 col-form-label">Project Name</label>
                                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                        <input type="text" name="ProjectName" [(ngModel)]="deleteProject.projectName"
                                            disabled="true" class="form-control" id="txtDeleteProjectName">
                                        <!--whenever user type anyvalue to the text box that should
                                             automatically be updated in project.projectId -->
                                    </div>
                                </div>
                                <div class="class modal-footer">
                                    <button type="button" class="btn btn-info"                                         (click)="clearFields()">Clear</button>

                                    <button type="submit" class="btn btn-danger" data-dismiss="modal"
                                        (click)=" onDeleteConfirm()">Delete</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>